/* Default */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: url('./assets/back.svg') repeat-y center top #f9f9f9;
  background-size: 100% auto; 
  letter-spacing: .25px;  
}

.btn{
    border: 2px solid #2f2f2f;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 1s;
}

.clear {
  clear: both
}

.mySection {
  padding: 60px 20px;
}

.sectionHead{
  font-size: 60px;
  display: block;
  margin: 0 auto;
}

.sectionHead:after{
  clear:both;
}


.img-container{
}

.img-container img{
  width: 100%;
  
}

.containerHead{
  width:100%;
  height: 150px;
}

a:link{
 text-decoration: none;
 font-weight: bold;
 color: #279821;
}

a:visited{
 color: #333;
}

a:hover{
  color: red;
  text-decoration: underline;
}

.myTable{
  
}

.myTable tr:first-child {
  font-size: 50px;
}

.myTable td{
  padding: 10px;
  text-align: center;
}

.tool-state{
    font-weight: bold;
    display: block;
}

.done{
   color: green;
}

.future{
  color: red;
}


/* ==About=== */

/* Header */

#myHeader {
    overflow: hidden;
    background: #2098d1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 10px #333;
}

#mySiteTitle {
    float: left;
    display: inline-block;
    padding-left: 25px;
}

#myHeader h1 {
    font-weight: normal;
    margin: 0;
    font-size: 30px;
    line-height: 75px;
}

.paren {} #mySiteTitle a {
    text-decoration: none;
    color: white;
}

#mySiteTitle .paren {
    color: #333;
}

#myHeader .myNav {
    float: right;
    display: block;
    line-height: 80px;
    font-size: 20px;
    margin-right: 20px;
}

.myNav a {
    margin-right: 15px;
    text-decoration: none;
    color: white;
    padding: 5px;
    text-transform: lowercase;
}
.myNav a:hover {
    color: #333;
    /*text-decoration: underline;*/
}

#hire-me-a{
   border: 1px solid white;
}

#hire-me-a:hover{
  border: 1px solid #333;
  text-decoration: none;
}

/* Intro */

#intro {
    margin-top: 80px;
    background: #2a3a3f;
    color: white;
}
#intro h2 {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin: 30px;
}
#introChange {
    color: #fdcd3b;
}
.introText {
    text-align: center;
}
.myIntrospan {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 10px 10px;
    margin: 10px;
    margin-left: 0px;
    font-weight: 400;
    border-radius: 10px;
    border-style: dashed;
}
.myIntrospan:hover {
    color: #fdcd3b;
}

.moreIntro{
  margin-top: 60px;
}

#hiText{

}

/* Expertise */
.sectionBlock1 {
               float:left;
               width: 400px;
}

.sectionBlock1 h2, .sectionBlock1 h3{
   margin: 0;
   padding: 0;
}

.sectionBlock1 h2{
   font-size: 65px;
}

.sectionBlock1 h3{
   font-size: 65px;
   font-weight: 300;
}

.sectionBlock1 h3 > span {
    font-size: 30px;
    display: block;
    margin-left: 5px;
    color: red;
}

.sectionBlock2 {
               margin-left: 20px;
               width: 800px;
               float: right;
}

.sectionBlock2 img {
   width:100%;
   margin-top: 40px;
}


#sb1-customization{
  font-size: 75px;
}

h3#sb1-customization2 {
    font-size: 85px;
}

/* Services */
#services{
  background: #fadf38;
}

#services-container{
  width: 95%;
  margin: 0 auto;
}

.services-block{
  border: 1px solid #000;
  margin-bottom: 70px;
  padding: 32px 24px;
  width: 190px;
  float:left;
  margin-right: 70px;
  height: 300px;
}

.services-block:last-child{
  margin-right: 0px;
}

.services-block-heading {
    font-size: 25px;
    text-align: center;
    min-height: 60px;
}

.services-block-description{
  font-weight: 300;
  margin:0;
  padding:0;
}

.services-block-heading span{
  font-weight: 300;                      
}

ul.services-block-description li {
  list-style-type: none;
  margin-bottom: 10px;                              
}

/* Pragmatic Programmer */

.pragBlock{
  float:left;
  width: 50%;
}

.myArticle{
 width:90%;
 padding: 10px;
 font-size: 20px;
 font-weight: 300;
}

ul.myArticleUl {
               
}

ul.myArticleUl li{
 line-height: 35px;
}

ul.myArticleUl li:first-letter{
  text-transform: uppercase;
}

.myArticle h3{
  text-transform: Capitalize;
}

/* Front-End */
.front-end-article{
   font-weight: 300;
   line-height: 30px;
   text-align: justify;
}

.front-end-article h3 {
   font-weight: 300;
}

.front-end-article h3 span {
   font-weight: 700;
}

.block-container{
  width: 35%;
  float:left;
  margin-right: 15px;
}

.block-container2{
 width: 63%;
 float: right;
}


/* Back-End */
/* Dev-ops */
/* stacks */
.skill-block{
    width: 200px;
    min-height: 450px;
    float: left;
    text-align: center;
    margin: 10px 40px 10px 0px;
    padding: 10px;
    }

.skill-block:last-child{
  margin-right: 0;
}

.head-part {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    color: red;
    height: 110px;
}

.head-part img {
    width: 100px;
    /* height: 50px; */
    margin: 0 auto;
    margin-bottom: 10px;
}

.title-purpose, .title-tools {
    color: #fff;
    background: #2098d1;
    padding:10px;
}

.skill-block ul {
    list-style-type: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 10px;
}
.skill-block ul li {
    padding-left: 5px;          
}
.tail-part {
    border-top: 1px solid #ddd;
}

/* databases */ /* tools */ /* languages I speak */
.tools-block {
    width: 15%;
    float: left;
    border: 1px solid #848484;
    margin: 10px;
    margin-right: 5px;
    text-align: center;
}
.tools-block:last-child{
  margin-right: 0px;
}
.img-block {
    height: 150px;
    clear: both;
    overflow: hidden;
}
.tools-block p {
    width: 100%;
    border-top: 1px solid #848484;
    line-height: 45px;
}

.img-block img {
    width: 100px;
    height: auto;
    margin: 25px;
}

.title-purpose-state{

}

.tool-state-future{

}

#smaller{
  font-size: 15px;
}


/* Hire */
#hire h3{
 font-weight: 300;
 font-size: 70px;
 margin: 0;
 padding: 0;
}

#hire-ready span{
 font-weight: 700;
 font-size: 100px;
}

h3#hire-ready {
 font-size: 90px; 
}

#let-chat span{
 font-weight: 700;
 font-size: 88px;
}

.duplicate-block-hire{
  width: 49%;
  float: left;
}

h3#mail-link{
  margin-top: 70px;
  font-size:100px;
  text-transform: uppercase;
}

#myForm label{
    display: block;
    font-size: 1.875rem;
    font-weight: 800;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#myForm input{
    background: none;
    border: 2px solid #2f2f2f;
    border-radius: 0;
    color: #2f2f2f;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    height: 98px;
    padding: 0 20px;
    width: 93%;
    margin-bottom: 10px;
}

#body-message{
  margin-bottom: 50px;
    background: none;
    border: 2px solid #2f2f2f;
    border-radius: 0;
    color: #2f2f2f;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    height: 150px;
    padding: 0 20px;
    width: 93%;
}

input#mySubmit{
  width: 200px;
  margin: 0 auto;
}

input#mySubmit:hover{
  color: white;
  background: #333;
}

input[type="submit"]{
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
    
}

.input-column:last-child{
  width: 200px;
  margin: 0 auto;
}

/* Contact */

#contact{
  background: #2098d1;
  color: white;
}

#contact p{
  margin: 0 auto;
  text-align: center;
}

#copyright{
  padding: 50px;
  font-size: 30px
}

#social-links{
  padding-bottom: 50px;
}

#social-links a{
  border: 1px solid white;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
text-decoration: none;
color: white;
margin-bottom: 10px;
}

#social-links a:hover{
border-color:black;
color: black;
}

.social-links-span {
}

/* ====================== */

/* Responsive */

