/* Default */

body {
    margin: 0 auto;
    padding: 0;
    width: 99%;
    overflow: hidden;
}

#clear {
    clear: both
}

/* ==About=== */

/* Header */

#myHeader {
    background: #333;
}

#mySiteTitle {
    width: 50px;
    float: left;
    display: inline-block;
}

#myHeader h1>a {
    padding: 0;
    margin: 0;
    float: left;
}

#myHeader h1:before {
    content: "{";
    margin: 0;
}


#myHeader .myNav {
    float: right;
    display: block;
}

/* Intro */

/* Expertise */

/* Pragmatic Programmer */

/* Front-End */

/* Back-End */

/* Dev-ops */

/* tools */

/* Hire */

/* Nav */

/* ====================== */

/* Responsive */